[Desktop Entry]
Version=1.0
Name=P4 Merge
Comment=Diff file tool
Type=Application
Categories=Development;Diff;Merge;
Exec=/home/rodrigo/.local/opt/p4v/bin/p4merge
Terminal=false
StartupNotify=true
Icon=/home/rodrigo/.local/opt/p4v/lib/P4VResources/icons/p4v.svg
Name[en_US]=P4 Merge
