[Desktop Entry]
Version=1.0
Name=Postman
Comment=API Development Environment
Type=Application
Categories=Development;API;
Exec=/home/rodrigo/.local/opt/Postman/Postman
Terminal=false
StartupNotify=true
Icon=/home/rodrigo/.local/opt/Postman/app/resources/app/assets/icon.png
Name[en_US]=Postman
